Django==5.1.1
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-gis==1.1
jsonschema==4.23.0
langchain==0.2.16
langchain-community==0.2.16
langchain-openai==0.1.23
numpy==1.26.4
PyQt5==5.15.9
